/.idea
/vendor/
/composer.lock
/composer.phar
/nohup.out
/storage.tmp
/session.dat
/var/cache/instaxer/profiles/*.dat
/config/config.php
/app/storage/test.jpg
/app/config/parameters.yml
/nohup.1.txt
/var/logs/dev.log
